.menu-container {
  background: var(--color-primary);
  height: 140px;
}

.menu-logo {
  max-width: 70px;
  max-height: 70px;
  margin: 0 auto;
}

.menu-logo img {
  max-width: 100%;
  object-fit: contain;
}

.menu-items {
  text-align: center;
}

.menu-items a {
  text-decoration: none;
  color: var(--color-white);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .menu-items {
    display: none;
  }
  .menu-button {
    display: flex;
  }
}
