/* Theme */
:root {
  --color-primary: #fd9255;
  --color-gray: #e2e2e2;
  --color-black: #06170b;
  --color-background: #f5f5f5;
}

/* Fonts */
:root {
  --font-family-Primary: "Poppins", sans-serif;
  --font-family-Secondary: "Roboto", sans-serif;
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-Primary);
  background-color: var(--color-background);
}
