/* Global Styles */

/* Theme */
:root {
  --color-primary: #fd9255;
  --color-gray: #666666;
  --color-gray-soft: #e2e2e2;
  --color-white: rgb(255, 255, 255);
  --color-black: #06170b;
  --color-background: #ffffff;
}

/* Fonts */
:root {
  --font-family-Primary: "Poppins", sans-serif;
  --font-family-Secondary: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-Primary);
  background-color: var(--color-background);
  color: var(--color-black);
  font-size-adjust: 0.4;
}
